/* Stylesheet for website */

body {
	width: 100%;
	height: 100%;
	background-image: url("apple.jpg");
	background-color: #000000;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 50% 15%;
}